/* /!\ always use the dash-spaced pattern (my-class and not myClass) for id and class names /!\ */

/* Example below to delete */
.well-done img {
    border-radius: 10px;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push
{
    height : 60px;
}
footer {
	width : 100%;
	background-color : rgb(230,230,230);
}